.footer-contact {
    display: flex;
    font-size: 30px;
    color: black;    
    width: 100%;
    margin-top:100px; 
    justify-content: center;   
    }

.footer.text {
  box-sizing: border-box;
  padding-bottom: 20px;
  text-align: center;
}

.buttons-footer {
  justify-content: space-evenly;
}

.footer-logo {
    align-content: center;
}

.social-icons {
    display: flex;
    justify-content: center;
    align-content: stretch;
    padding: 35px;
}


.footer-copyright {
    display: flex;
    justify-content: space-between;
  }

.end-footer {
    font-color: rgb(77, 68, 68);
    font-size: 15px;
  }


.Up-botton {
    background-color: darkgrey;
     ;
}

